.form {
  gap: 24px; /* not sure if this does anything? */
  padding: 8px;
  border-style: double;

  border-color: var(--greyscale-dark);

  background-color: var(--greyscale-main);

  box-shadow: 5px 5px var(--greyscale-accent);
  max-width: 400px;
  margin: 10px;
  margin-left: 0px;
}
.form__fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form__fields > label {
  background-color: var(--greyscale-dark);
  width: 30%;
  color: var(--greyscale-light);
}
.form__field {
  display: flex;
  flex-direction: row;

  gap: 8px;
}
.form__button-wrapper {
  display: flex;
  justify-content: center;
}

.form__button {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.35rem;
  color: var(--greyscale-dark);
  background-color: var(--greyscale-light);
  border-radius: 1px;
  border-color: var(--greyscale-light);
  box-shadow: 3px 3px var(--greyscale-dark);

  padding: 5px 5px;
  transition: 0.25s ease-in-out;
}

.form__button:hover {
  color: var(--greyscale-accent);
  background-color: whitesmoke;
}
