body {
  font-family: monospace;
  padding: 10px;
  background-color: var(--greyscale-light);
}
h1 {
  font-size: xx-large;
  display: inline;
  background-color: var(--greyscale-accent);
  color: black;

  padding-right: 10px;
}
